
{%extends "base.twig"%}
{%block title%}
Maak uw bestelling
{%endblock %}
{% block content %}

{% if tijdstip < 10 and bestellingafgerond!=true %}
<!-- eigenlijke bestelmenu -->
<form class="bestelmenu" action="usercontroller.php?action=voegtoe" method="POST">
    <select name="brood" size="5">
                {% for brood in bestelmenu.broden %}
        <option value="{{ brood.id }}">{{ brood.type }} &euro;{{ brood.prijs/100 }}
        </option>
                {% endfor %}
    </select>  
    <select name="beleg[]" size="5" multiple="multiple" >
                {% for beleg in bestelmenu.beleg %}
        <option value="{{ beleg.id }}">{{ beleg.type }} &euro;{{ beleg.prijs / 100}} 
        </option>
                {% endfor %}
    </select>  
    <input class="voegtoe" name="submit" type="submit" value="voeg toe"> 
</form>

        {%elseif tijdstip >10 %}
<h1>Winkel Dicht</h1>   
<p>Het is na 10 uur. Er worden geen bestellingen meer opgenomen</p>
{% endif %}
<!-- bestelling -->
{% if bestellingafgerond == 'true'%}
<p>Uw bestelling werd succesvol geregistreerd!</p>
{%endif %}
{% if winkelmand is defined %}
<h1>Uw bestelling</h1>

<table border="1" collapse="collapse">
    <thead>
        <tr><td>Brood</td><td>Beleg</td><td>Prijs</td>{% if bestellingafgerond != 'true'%}<td>Annuleer Broodje</td> {%endif%}</tr>
    </thead>
                    {% for key,bestelregel in winkelmand.bestelregels %}
    <tr>

        <td><!-- bestelregel echoen -->
            {{bestelregel.brood}}
        </td>
        <td>
            {{bestelregel.beleg}}
        </td>
        <td>
            &euro; {{bestelregel.prijs/100}}
        </td>
{% if bestellingafgerond != 'true'%}
        <td><a href="usercontroller.php?action=delete&id={{key}}"><div class="delete"><img src="img/delete.png"></div></a></td>
        {%endif%}
                    {% endfor %}

        <!-- prijs echoen -->
    <tr>
        <td></td><td>TOTAALPRIJS</td><td>&euro; {{totaalprijs/100}}</td>{% if bestellingafgerond != 'true'%}<td><a class="afronder" href="usercontroller.php?action=bestel">plaats bestelling</a></td> {%endif%}
    </tr>
</tr>
</table>
        {%endif%}
        {% if error is defined %}
            {% if error =="GeenBrood"%}
<p>U heeft geen brood gekozen</p>
            {% elseif error == "GeenBeleg" %}
<p>U heeft geen beleg gekozen</p>
            {% endif %}
        {% endif %}
<a class="loguit" href="usercontroller.php?action=loguit">Log uit</a>
{%endblock%}
