
{%extends "base.twig"%}
{%block title%}
Maak uw bestelling
{%endblock %}
{% block content %}

{% if tijdstip < 10 %}
<!-- eigenlijke bestelmenu -->
<form class="bestelmenu" action="usercontroller.php?action=voegtoe" method="POST">
    <select name="brood" size="5">
                {% for brood in bestelmenu.broden %}
        <option value="{{ brood.id }}">{{ brood.type }} &euro;{{ brood.prijs/100 }}
        </option>
                {% endfor %}
    </select>  
    <select name="beleg[]" size="5" multiple="multiple" >
                {% for beleg in bestelmenu.beleg %}
        <option value="{{ beleg.id }}">{{ beleg.type }} &euro;{{ beleg.prijs / 100}} 
        </option>
                {% endfor %}
    </select>  
    <input class="voegtoe" name="submit" type="submit" value="voeg toe"> 
</form>
<a href="usercontroller.php?action=bestel"><button>rond bestelling af</button></a>
        {%else%}
<h1>Winkel Dicht</h1>   
<p>Het is na 10 uur. Er worden geen bestellingen meer opgenomen</p>
{% endif %}
<!-- bestelling -->
{% if winkelmand is defined %}
<h1>Uw bestelling</h1>

<table border="1" collapse="collapse">
    <thead>
        <tr><td>brood</td><td>beleg</td><td>prijs</td><td>verwijderregel</td></tr>
    </thead>
                    {% for key,bestelregel in winkelmand.bestelregels %}
    <tr>

        <td><!-- bestelregel echoen -->
            {{bestelregel.brood}}
        </td>
        <td>
            {{bestelregel.beleg}}
        </td>
        <td>
           &euro; {{bestelregel.prijs/100}}
        </td>
        <td><a href="usercontroller.php?action=delete&id={{key}}">X</a></td>
                    {% endfor %}
        
        <!-- prijs echoen -->
    <tr>
        <td></td><td>TOTAALPRIJS</td><td>&euro; {{totaalprijs/100}}</td>
    </tr>
    </tr>
</table>
        {%endif%}
        {% if error is defined %}
            {% if error =="GeenBrood"%}
<p>U heeft geen brood gekozen</p>
            {% elseif error == "GeenBeleg" %}
<p>U heeft geen beleg gekozen</p>
            {% endif %}
        {% endif %}
{%endblock%}
